Group Project Proposal : Heart Disease
-

Introduction:
- background info
- question
- identify and describe data set

Read the data into R, clean, and wrangle the data

In [28]:
#code will go here
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

In [29]:
#read data into r
heart_disease_data <- read_delim("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/reprocessed.hungarian.data", col_names = FALSE) |>
                    rename(age =X1,
                              sex = X2,
                              cp = X3,
                              trestbps = X4,
                              chol = X5,
                              fbs = X6,
                              restecg = X7,
                              thalach = X8, 
                              exang = X9,
                              oldpeak = X10, 
                              slope = X11, 
                              ca = X12, 
                              thal = X13, 
                              num = X14) |>
                    mutate(num = as_factor(num))
heart_disease_data

Rows: 294 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: " "
dbl (14): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   40  1   2  140      289  0   0       172     0     0       -9    -9 -9
2   49  0   3  160      180  0   0       156     0     1        2    -9 -9
3   37  1   2  130      283  0   1        98     0     0       -9    -9 -9
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
292 48  1   3  110      211  0   0       138     0     0       -9    -9  6
293 47  0   2  140      257  0   0       135     0     1        1    -9 -9
294 53  1   4  130      182  0   0       148     0     0       -9    -9 -9
    num
1   0
2   1
3   0
⋮   ⋮
292 0
293 0
294 0

In [30]:
#split data into training and testing groups
heart_disease_split <- initial_split(heart_disease_data, prop = .75, strata = num)
                        
heart_disease_training <- training(heart_disease_split)
                        
heart_disease_testing <- testing(heart_disease_split)

heart_disease_training
heart_disease_testing

    age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   40  1   2  140      289  0   0       172     0     0       -9    -9 -9
2   54  1   3  150       -9  0   0       122     0     0       -9    -9 -9
3   45  0   2  130      237  0   0       170     0     0       -9    -9 -9
⋮   ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
218 47  1   3  140      193  0   0       145     1     1       2     -9 -9
219 52  1   4  130      298  0   0       110     1     1       2     -9 -9
220 55  1   4  140      201  0   0       130     1     3       2     -9 -9
    num
1   0
2   0
3   0
⋮   ⋮
218 1
219 3
220 1

   age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1  37  1   2  130      283  0   1        98     0     0       -9    -9 -9   0
2  39  1   3  120      339  0   0       170     0     0       -9    -9 -9   0
3  58  1   2  136      164  0   1        99     1     2        2    -9 -9   3
⋮  ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮    ⋮
72 57  0   4  180      347  0   1       126     1     0.8      2    -9 -9   0
73 51  0   3  110      190  0   0       120     0     0.0     -9    -9 -9   0
74 59  1   4  140       -9  0   0       140     0     0.0     -9     0 -9   0

Methods:
- explain how you will conduct the analysis and which variables will be used

Decsribe at least one way you will visualize the result:
- idk

Expected outcomes and significance:
- What do you expect to find?
- What impact could such findings have?
- What future questions could this lead to?